<section class="content">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-3" style="display: contents;padding-bottom: 0px;">
            <button type="button" style="color: aqua; padding-bottom: 0px;" class="button is-medium {{labelfactura}}" (click)="cambiarEmision(1);" style="width: 150px;">
            <span>FACTURA </span>
            </button>
            <button type="button" style="color: aqua;" class="button is-medium {{labelboleta}}" (click)="cambiarEmision(2);" style="width: 150px;">
            <span>BOLETA</span>
            </button>
        </div>
        <div class="column is-4"></div>
    </div>
    <br>
    <form [formGroup]="formventa" (ngSubmit)="guardar($event)">
    <div class="columns">
        <div class="column is-9" style="border-radius: 15px; border: solid 3px; background-color: #fff1ca;">
            <!-- boleta -->
            <!-- cabecera -->
            <div class="columns">
                <!-- informacion de la empresa -->
                <div class="column is-7" style="text-align: center;">
                    <br>
                    <h4 class="">Multiservicio y Libreria E.I.R.L</h4>
                    <h1 class="titulo_estilo">"La Casa del buen Lector"</h1>
                    <h5 class="nada">Av. Miguel Grau 982 - La Victoria - Lima</h5>
                    <h6 class="nada">Jr. Callao 134 - Miraflores - Lima</h6>
                </div>
                <!-- informacion de serie -->
                <div class="column is-5">
                    <div style="border-color: transparent; border-width: 30px; border-style: solid;">
                        <div class="field"
                            style="text-align: center ;border-color: black; border-width: 2px; border-style: solid;">
                            <h3>R.U.C. 20100074568</h3>
                            <h3>{{labelcuadro}}</h3>
                            <h6 style="color: rgb(223, 4, 4);">002 N° - 005160</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- datos personales del cliente -->
            <div class="columns">
                <!-- informacion básica -->
                <div class="column is-7">
                    <div style="display: flex;">
                        <label for="razonsocial" style="width: 100px;">Señor (es):</label>
                        <input type="text"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%"
                            formControlName="razonsocial"
                            [class.is-danger]="razonsocialFieldIsInvalid"
                            (focus)="mostrarRazon();"/>
                    </div>
                    <div *ngIf="razonsocialFieldIsInvalid">
                        <p class="help is-danger" *ngIf="razonsocialField?.hasError('required')">
                            *Este campo no puede ser vacío
                        </p>
                        <p class="help is-danger" *ngIf="razonsocialField?.hasError('minlength')">
                            *Este campo debe tener 5 caracteres
                        </p>
                    </div>
                    <div style="display: flex;">
                        <label for="razonsocial" style="width: 100px;"> {{labelRuc}}:</label>
                        <input type="text"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%"
                            formControlName="ruc"
                            [class.is-danger]="rucFieldIsInvalid" [maxLength]="t_max_length"
                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                            (focus)="mostrarRUC();"/>
                    </div>
                    <div *ngIf="rucFieldIsInvalid">
                        <p class="help is-danger" *ngIf="rucField?.hasError('required')">
                            *Este campo no puede ser vacío
                        </p>
                        <p class="help is-danger" *ngIf="rucField?.hasError('minlength')">
                            *Este campo debe tener {{t_max_length}} caracteres
                        </p>
                        <p class="help is-danger" *ngIf="rucField?.hasError('maxlength')">
                            *Este campo debe tener {{t_max_length}} caracteres
                        </p>
                    </div>
                    <!-- fin de ruc -->
                    
                    <div style="display: flex;">
                        <label for="direccion" style="width: 100px;">Dirección:</label>
                        <input type="text"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%"
                            formControlName="direccion"
                            [class.is-danger]="direccionFieldIsInvalid"
                            (focus)="mostratAyuda();"/>
                    </div>
                    <div *ngIf="direccionFieldIsInvalid">
                        <p class="help is-danger" *ngIf="direccionField?.hasError('required')">
                            *Este campo no puede ser vacío
                        </p>
                        <p class="help is-danger" *ngIf="direccionField?.hasError('minlength')">
                            *Este campo debe tener 5 caracteres
                        </p>
                    </div>
                </div>
                <!-- informacion de fecha y extras -->
                <div class="column is-5">
                    <div style="display: flex;">
                        <label for="razonsocial">Abancay, </label>
                        <input type="text" value="27"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                        <label for="razonsocial">de </label>
                        <input type="text" value="Enero"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                        <label for="razonsocial">del </label>
                        <input type="text" value="2023"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                    </div>
                    <div style="display: flex;">
                        <label for="razonsocial" style="width: 300px;">Guía de Remisión N°:</label>
                        <input type="text" value="001-001043"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                    </div>
                </div>
            </div>
            <!-- buscador de productos -->
            <div class="columns">
                <div class="column is-2"></div>
                <div class="column is-8">
                    <!-- <div class="control">
                        <input class="input" type="text" id="bproducto" placeholder="Buscar producto" />
                    </div> -->
                    <!-- inicio input -->
                    <ng-autocomplete
                    [data]="productos"
                    [searchKeyword]="campobuscar"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    placeholder="Buscar producto"
                    notFoundText="No se encontró ningún registro"
                    closed="clear"
                    (click)="mostrarBuscador();"></ng-autocomplete>
                    <!-- fin input -->
                    <!-- libreria inicio -->
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.descripcion+' stock('+item.stock+')'" (click)="agregaritems(item.id)" (selected)="agregaritems(item.id)"></a>
                    </ng-template>
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                    <!-- <input type="text" placeholder="Buscar producto" style="width: 100%;">
                    <button type="button">Agregar</button> -->
                </div>
                <div class="column is-2"></div>
            </div>
            <!-- tabla de productos -->
            <div class="columns">
                <div class="column is-12">
                    <!-- Tabla de productos -->
                    <table>
                        <thead>
                            <tr>
                                <th style="border-top-left-radius: 10px; background-color: #d6ccaf">Cantidad</th>
                                <th style="background-color: #d6ccaf">Descripción</th>
                                <th style="background-color: #d6ccaf">P.Unitario</th>
                                <th style="background-color: #d6ccaf">S.Total</th>
                                <th style="border-top-right-radius: 10px; background-color: #d6ccaf">Acciones</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="items" *ngFor="let item of itemsField.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td><input class="input" type="number" style="width: 100px; height: 35px;" [attr.id]="'item'+i" value="2" min="1" (click)="actualizarprecios(i)" (keyup)="actualizarprecios(i)"
                                    formControlName="cantidad"></td>
                                <td><p style="width: 400px">{{item.value['descripcion']}}</p></td>
                                <td><p>{{item.value['punitario']}}</p></td>
                                <td><p>{{item.value['stotal']}}</p></td>
                                <td style="border-bottom-right-radius: 10px; background-color: #e9debe; text-align: center; cursor: pointer;"><span class="icon-text has-text-dark" (click)="removeritem(i)" (mouseover)="mostrarBorrar();" (mouseout)="mostratAyuda();"><i class="fa-solid fa-trash-can icon"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- pie de página -->
            <div class="columns">
                <div class="column is-2">
                    <!-- info de la imprenta -->
                </div>
                <div class="column is-6" style="text-align: center;">
                    <!-- boton de confirmacion -->
                    <br>
                    <div class="columns is-mobile">
                        <button type="submit" class="button is-info is-fullwidth" (mouseover)="mostrarVenta();" (mouseout)="mostratAyuda();">Confirma Venta</button>
                    </div>
                    <div style="display: flex;">
                        <label for="razonsocial">Abancay, </label>
                        <input type="text" value="27"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                        <label for="razonsocial">de </label>
                        <input type="text" value="Enero"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                        <label for="razonsocial">del </label>
                        <input type="text" value="2023"
                            style="background-color:transparent; border: 0; outline: none; border-bottom: 1px dotted #000; width: 100%">
                    </div>
                </div>
                <div class="column is-4">
                    <!-- resumen general -->
                    <table>
                        <tr>
                            <th style="border-top-left-radius: 10px; background-color: #e9debe">Sub Total (S/.)</th>
                            <td style="border-top-right-radius: 10px; background-color: #e9debe"><p>{{vsubt}}</p></td>
                        </tr>
                        <tr>
                            <th style="background-color: #e9debe">I.G.V. (S/.)</th>
                            <td style="background-color: #e9debe"><p>{{vigv}}</p></td>
                        </tr>
                        <tr>
                            <th style="border-bottom-left-radius: 10px; background-color: #b3ab92;">Total (S/.)</th>
                            <td style="border-bottom-right-radius: 10px; background-color: #b3ab92;"><p>{{vtotal}}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div class="column is-3" style="background-color: white;">
            <!-- aquí va la vista previa de lo que está haciendo -->
            
        </div>
    </div>
</form>
<div class="icon-ayuda" style="border-radius: 10px; background-color: transparent; width: 370px;">
    <img [hidden]="mostrar" [src]="images" id="changeImage" alt="foto-guia" height="50%">
</div>
<br>

</section>