.bordered { 
    border: solid #ccc 1px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px; 
    -webkit-box-shadow: 0 3px #ccc; 
    -moz-box-shadow: 0 3px #ccc; 
    box-shadow: 0 3px #ccc; 
}

input {
    font: oblique bold 120% cursive;
}

textarea {
    font: oblique bold 120% cursive;
}

p {
    font: oblique bold 120% cursive;
}

.icon-ayuda {
    display: block;
    background-repeat:no-repeat;
    font-size:20px;
    color:black;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
}

.titulo_estilo{
    font-family: fantasy;
}